<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-decoration="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"  th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" ></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body data-type="widgets">
    <script src="assets/js/theme.js"></script>
<body data-type="index">
    style
    <script src="/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->


<!--                把导航栏的小图标 改成页面名称  原首页栏删除-->

                <div class=" tpl-header-switch-button ">
                    <span class="am-icon-home page-header-heading-icon"></span> 首页
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>x老师</span> </a>
                            <a href="javascript:;">欢迎你, <span >Amaze UI</span> </a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        x老师
                    </span>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="index.html">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 学生管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="calendar.html">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 教师日志
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title active">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 公告管理
                    <a href="#" th:href="@{/msg}">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="chart.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 个人资料
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="chart.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 学生心得
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="chart.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 学生作品
                    </a>
                </li>
            </ul>
        </div>


        <!-- 内容区域 -->
        <div id="content" class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <!-- 公告头部 -->
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">公告列表</div>
                            </div>
                            <!-- 公告主体区域 -->
                            <div class="widget-body  am-fr">
                                <!-- 左上新增和保存 -->
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 分类 -->
                                <!-- <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}">
                                          <option value="option1">所有类别</option>
                                          <option value="option2">IT业界</option>
                                          <option value="option3">数码产品</option>
                                          <option value="option3">笔记本电脑</option>
                                          <option value="option3">平板电脑</option>
                                          <option value="option3">只能手机</option>
                                          <option value="option3">超极本</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- 右上搜索 -->
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                        </span>
                                    </div>
                                </div>

                                <!-- 公告模块 -->
                                <div class="am-u-sm-12">
                                    <!-- 公告 -->
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <!-- 公告头部 -->
                                        <thead>
                                            <tr>
                                                <th>公告标题</th>
                                                <th>公告人</th>
                                                <th>时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- 每条公告内容 -->
                                            <tr class="gradeX" v-for="item in noticeShow.dataShow">
                                                <td>{{item.title}}</td>
                                                <td>{{item.author}}</td>
                                                <td>{{item.date}}</td>
                                                <!-- 公告的操作 -->
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 页数模块 -->
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <!-- 页数 -->
                                        <ul class="am-pagination tpl-pagination" id="ind">
                                            <!-- class="am-disabled" -->
                                            <li ><a href="#" @click="prePage">«</a></li>
                                            <li v-for="(item, index) in noticeShow.totalPage" :id="index"><a href="#" @click="toPage(index)">{{index + 1}}</a></li>
                                            <!-- <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li> -->
                                            <li><a href="#" @click="nextPage">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript">
        var cont = new Vue({
            el: "#content",
            data: {
                noticeContent: [
                    {
                        title: "圣诞节活动通知",
                        author: "贾东成",
                        date: "2019-12-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "元旦放假",
                        author: "贾东成",
                        date: "2019-12-26",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "项目总结",
                        author: "贾东成",
                        date: "2019-01-02",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },{
                        title: "项目开工",
                        author: "贾东成",
                        date: "2019-01-04",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "过年放假通知",
                        author: "贾东成",
                        date: "2019-01-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    },
                    {
                        title: "毕业啦！！！",
                        author: "贾东成",
                        date: "2019-02-24",
                        content: "放假放假放假放假放假放假放假放假放假放假放假"
                    }
                ],
                noticeShow: {
                    totalPage: [],
                    //每页显示的数据的分组
                    pageSize: 4,
                    //总页数
                    pageNum: 1,
                    //当前显示的数据
                    dataShow: "",
                    //默认当前显示第一页
                    currentPage: 0,

                    buttonSize: 5,
                }
            },
            methods: {
                        //下一页
                        nextPage: function(){
                            var vm = this.noticeShow;
                            //右最大没写完
                            // if (vm.currentPage == vm.pageNum - 2) $("#ind li").eq(vm.currentPage+3).addClass("am-disabled");
                            //不能超过最大页
                            if (vm.currentPage == vm.pageNum - 1) return;
                            vm.dataShow = vm.totalPage[++vm.currentPage]
                            // 点击下一页的时候移除左键失效样式
                            $("#ind li").eq(0).removeClass("am-disabled");
                            //为当前页数添加样式
                            $("#ind li").eq(vm.currentPage+1).addClass("am-active")
                            $("#ind li").eq(vm.currentPage+1).siblings().removeClass("am-active")
                            // console.log(vm.currentPage)
                        },
                        //上一页
                        prePage: function(event){
                            var vm = this.noticeShow;
                            //如果下一页没有了则添加不能点击样式
                            if (vm.currentPage-1 == 0) $("#ind li").eq(0).addClass("am-disabled");
                            //页数不能小于0
                            if (vm.currentPage == 0) return;
                            vm.dataShow = vm.totalPage[--vm.currentPage]
                            $("#ind li").eq(vm.currentPage+1).addClass("am-active")
                            $("#ind li").eq(vm.currentPage+1).siblings().removeClass("am-active")
                            // console.log($("#0"))
                            // console.log($("#ind li").eq(0))
                        },
                        //点击页
                        toPage: function(page){
                            var vm = this.noticeShow;
                            vm.currentPage = page;
                            console.log(page)
                            //如果下一页没有了则添加不能点击样式，否则当点击其他页移除
                            if (vm.currentPage == 0)
                                $("#ind li").eq(0).addClass("am-disabled");
                            else {
                                $("#ind li").eq(0).removeClass("am-disabled");
                            }
                            vm.dataShow = vm.totalPage[vm.currentPage];
        <div class="tpl-content-wrapper">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf"> <h2>公告栏</h2> </div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                <tr>
                                    <th>通知内容</th>
                                    <th>发布时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="msg:${msgs}">
                                        <td th:text="${msg.notice}"></td>
                                        <td th:text="${#dates.format(msg.getDateTime(),'yyyy-MM-dd HH:mm:ss')}"></td>

<!--                                        <td th:text="${#dates.format(msg.add_time*1000, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
<!--                        <div class="am-u-lg-12 am-cf">-->
<!--                            <div class="am-fr">-->
<!--                                <ul class="am-pagination tpl-pagination">-->
<!--                                    &lt;!&ndash; 首页 &ndash;&gt;-->
<!--                                    <li th:if="${current == 1}">-->
<!--                                        <a href="#">首页</a>-->
<!--                                    </li>-->
<!--                                    <li th:if="${current > 1}">-->
<!--                                        <a th:href="@{/admin.adminlog(page=1,type=${type},lookname=${lookname})}">首页</a>-->
<!--                                    </li>-->

<!--                                    &lt;!&ndash; 上一页 &ndash;&gt;-->
<!--                                    <li th:if="${current == 1}">-->
<!--                                        <a href="#">«</a>-->
<!--                                    </li>-->
<!--                                    <li th:if="${current > 1}">-->
<!--                                        <a th:href="@{/admin.adminlog(page=${current - 1},type=${type},lookname=${lookname})}">«</a>-->
<!--                                    </li>-->

<!--                                    &lt;!&ndash; 最大按钮数6,浮动按钮数3 &ndash;&gt;-->
<!--                                    <th:block th:if="${total>0 && total<= 4}" th:each="i : ${#numbers.sequence(1,total)}">-->
<!--                                        <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>-->
<!--                                        <li th:if="${current != i}"><a th:href="@{/admin.adminlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>-->
<!--                                    </th:block>-->

<!--                                    <th:block th:if="${total > 4}">-->
<!--                                        <th:block th:if="${(current - (2/2)) < 3}" th:each="i : ${#numbers.sequence(1,2 + 2 )}">-->
<!--                                            <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>-->
<!--                                            <li th:if="${current != i}"><a th:href="@{/admin.adminlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>-->
<!--                                        </th:block>-->
<!--                                        &lt;!&ndash; ... &ndash;&gt;-->
<!--                                        <li th:if="${(current - (2/2)) >= 3}"><a>...</a></li>-->

<!--                                        <th:block th:if="${((current - (2/2))>=3) && (current < (total - 3))}"-->
<!--                                                  th:each="i : ${#numbers.sequence(current - 1,current+2)}">-->
<!--                                            <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>-->
<!--                                            <li th:if="${current != i}"><a th:href="@{/admin.adminlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>-->
<!--                                        </th:block>-->

<!--                                        &lt;!&ndash; ... &ndash;&gt;-->
<!--                                        <li th:if="${current < (total - 3)}"><a>...</a></li>-->
<!--                                        <th:block th:if="${current >= (total - 3)}" th:each="i : ${#numbers.sequence(total - 3,total)}">-->
<!--                                            <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>-->
<!--                                            <li th:if="${current != i}"><a th:href="@{/admin.adminlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>-->
<!--                                        </th:block>-->
<!--                                    </th:block>-->

<!--                                    &lt;!&ndash; 下一页 &ndash;&gt;-->
<!--                                    <li th:if="${current >= total}"><a href="#">»</a> </li>-->
<!--                                    <li th:if="${current < total}"><a th:href="@{/admin.adminlog(page=${current+1},type=${type},lookname=${lookname})}">»</a></li>-->

<!--                                    &lt;!&ndash; 最后一页 &ndash;&gt;-->
<!--                                    <li th:if="${total>1 && current == total}"><a href="#">末页</a></li>-->
<!--                                    <li th:if="${total>1 && current != total}"><a th:href="@{/admin.adminlog(page=${total},type=${type},lookname=${lookname})}">末页</a></li>-->

<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>

            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12"  >
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"> <h2 style="color: #FFFFFF">兄弟会培养内容</h2> </div>
                </div>
                <div class="accordion" id="accordionExample" style="background: #4b5357; ">
                <div class="card" style="background: #4b5357" >
                    <div class="card-header" id="headingOne"                     >
                        <h2 class="mb-0" >
                            <button class="btn am-btn-default " type="button"  text-decoration="none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h2 style="color: #FFFFFF">阶段一 : 基础逻辑训练</h2>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" style="background: #5d6468" >
                            <h3 style="color: #FFFFFF">简介：<br><br>
                                理解操作系统原理，熟悉常 见操作开发工具使用，培养 编程思想，建立编程信心。<br><br>成果：<br><br>理解编程逻辑，为后面做准备。
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="background: #4b5357">
                    <div class="card-header" id="headingTwo" >
                        <h2 class="mb-0">
                            <button class="btn collapsed am-btn-default" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h2 style="color: #FFFFFF">阶段二 : 前端组件训练</h2>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample"  >
                        <div class="card-body" style="background: #5d6468"  >
                            <h3 style="color: #FFFFFF">简介：<br><br>
                                理解组件化开发思想，熟练使用主流的前端框架和技能。握好前端知识是我们学习任何一门语言的开始。<br><br>
                                成果：<br><br>
                                独立完成前端页面开发。</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="background: #4b5357">
                    <div class="card-header" id="headingThree" >
                        <h2 class="mb-0">
                            <button class="btn  collapsed am-btn-default" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h2 style="color: #FFFFFF">阶段三 : 强化编程训练</h2>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body" style="background: #5d6468"  >
                            <h3 style="color: #FFFFFF">简介：<br><br>
                                自选两门编程语言（Java/Python/PHP）强化，掌握开发规范设计模式，使用主流框架进行开发，使用容器（Docker）技术完成后端环境部署/迭代/持续集成（云计算）。
                                <br><br>
                                成果：<br><br>
                                独立完成项目、模块、组件、插件开发。</h3>
                        </div>
                    </div>
                </div>


                <div class="card" style="background: #4b5357">
                        <div class="card-header" id="headingFour" >
                            <h2 class="mb-0">
                                <button class="btn  collapsed am-btn-default" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h2 style="color: #FFFFFF">阶段四 : 结合开源社区生态 完成项目开发训练</h2>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body" style="background: #5d6468"  >
                                <h3 style="color: #FFFFFF">简介：<br><br>
                                    掌握大数据与科学计算、常用框架工具及开发技巧，能独立搭建生产级别本地云环境，完成中等规模的企业级项目。
                                    <br><br>
                                    成果：
                                    <br><br>
                                    独立设计完成项目开发。</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="background: #4b5357">
                    <div class="card-header" id="headingFive" >
                        <h2 class="mb-0">
                            <button class="btn  collapsed am-btn-default" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h2 style="color: #FFFFFF">阶段五 : 国内常见第三方生态使用，带领小型团队</h2>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body" style="background: #5d6468"  >
                            <h3 style="color: #FFFFFF">简介：<br><br>
                                学习前沿开发生态及人工智能应用技术，具备领导5-7人团队协同开发能力。
                                <br><br>
                                成果：
                                <br><br>
                                善用国内优秀的基础设施与第三方支持快速完成互联网项目交付。</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/amazeui.datatables.min.js"></script>
    <script src="/assets/js/dataTables.responsive.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


                            $("#ind li").eq(vm.currentPage+1).addClass("am-active")
                            $("#ind li").eq(vm.currentPage+1).siblings().removeClass("am-active")
                        }
                    },
                    //分页数据处理
            created: function() {
                        var vm = this.noticeShow;
                        //总页数
                        vm.pageNum = Math.ceil(this.noticeContent.length / vm.pageSize) || 1 ;
                        //把获取的数据按一页显示的内容进行切片然后分组
                        for (var i = 0; i < vm.pageNum; i++) {
                            vm.totalPage[i] = this.noticeContent.slice(vm.pageSize * i, vm.pageSize * (i + 1))
                        }
                        //取值
                        vm.dataShow = vm.totalPage[vm.currentPage];
                    }
        })
                        //第一页页数默认有样式
                         $("#ind li").eq(1).addClass("am-active")
                         //刚进入默认左键无效
                         $("#ind li").eq(0).addClass("am-disabled");
    </script>
</body>

</html>