<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>兄弟会管理系统</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" type="image/png" href="/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<script src="/assets/js/echarts.min.js"></script>
<link rel="stylesheet" href="/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="/assets/css/app.css">
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
<script src="/assets/js/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<style>
    #choose-delupd button a{
        text-decoration: none;
        color: #FFFFFF;
    }
    #choose-insert a{
        text-decoration: none;
        color: #FFFFFF;
    }
    #choose-insert{
        display: inherit;
    }

    #box a{
     text-decoration: none;
    }

</style>
</head>

<body data-type="index">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g" id="box">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="http://www.itxdl.cn/xdh/" target="_blank">
                <img src="/assets/img/logo.png" alt="" style="width:100%;height: 87%;margin: 0;">
            </a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                <span></span>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="#">欢迎你 &nbsp;
                            <span th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                                </span>
                        </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/loginout">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    <span th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                    </span>
                </span>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
           <li class="sidebar-nav-link">
                <a href="index.html" th:href="@{/student.index}">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="#" th:href="@{/list}">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 学生信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="#" th:href="@{/worklist/1}" class="active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 作品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="#" th:href="@{/selectExperience}">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 心得体会
                </a>
            </li>
        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">作品列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success" id="addwork"><span class="am-icon-plus"></span> 新增</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <form th:action="@{/searchWorks/1}" method="post">

                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field " placeholder="输入作品名称" name="workname">
                                        <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                    </span>
                                    </div>

                                </form>


                            </div>
                        </div>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>作者</th>
                                        <th>作品名称</th>
                                        <th>作品地址</th>
                                        <th>上传时间</th>
                                        <th>具体操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--thymeleaf 循环遍历添加作品-->
                                    <tr th:each="work,workid: ${worksList1}" class="gradeX">
                                        <td th:text="${workid.count}"></td>
                                        <td th:text="${name}"></td>
                                        <td th:text="${work.getName().trim()}"></td>
                                        <td th:text="${work.getUrl().trim()}"></td>
                                        <!-- #dates.format(Date dates, String str) 时间戳转换成日期格式 -->
                                        <td th:utext="${#dates.format(work.getAdd_time()*1000,'yyyy-MM-dd')}"></td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:href="@{'/toUpdateWorks/'+${work.getId()}}">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                <a th:href="@{'/selectWorks/'+${work.getId()}}" onclick="return deleteWork()" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li><a th:href="@{'/worklist/'+${1}}">«</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <li th:each="page:${totalPageList}"><a th:href="@{'/worklist/'+${page}}" th:text="${page}"></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <li><a th:href="@{'/worklist/'+${totalPage}}">»</a></li>
                                            <!--增加-->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript">

    function deleteWork() {
        var ret = window.confirm("确定删除?");
        //当点击确定时 返回 true
        if(ret){
            //点确定
            return true;
        }else{
            //点取消
            return false;
        }
    }


    $("#addwork").click(function(){
        window.location.href = "/toInsertWorks/";
    })

</script>

</body>

</html>
