<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>兄弟会管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="http://www.itxdl.cn/xdh/" target="_blank">
                    <img src="/assets/img/logo.png" alt="" style="width:100%;height: 87%;margin: 0;">
                </a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span></span>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="#">欢迎你 &nbsp;
                                <span th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                                </span>
                            </a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/loginout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        <span th:each="cookie :${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                        </span>
                    </span>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/admin.index">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title active">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 日志管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                        <li class="sidebar-nav-link">
                            <a href="/admin.adminlog">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理员日志
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin.teacherlog" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 教师日志
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin.xdhclass">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 班级管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin.teacher">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 教师管理
                    </a>
                </li>
            </ul>
        </div>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">教师日志列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}" id="findby">
                                            <option value="option1">模糊查询</option>
                                            <option value="option2">教师</option>
                                            <option value="option3">IP地址</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field " id="lookname">
                                        <span class="am-input-group-btn">
                                            <button id="lookfor" class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                        </span>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                        <tr>
                                            <th>教师ID</th>
                                            <th>操作内容</th>
                                            <th>教师名</th>
                                            <th>时间</th>
                                            <th>IP地址</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX" th:each="adminlog : ${adminLog}">
                                                <td th:text="${adminlog.getTeacher_id()}"></td>
                                                <td th:text="${adminlog.getAction()}"></td>
                                                <td th:text="${adminlog.getTeacher_name()}"></td>
                                                <td th:text="${#dates.format(adminlog.add_time*1000, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                <td th:text="${adminlog.getAdd_ip()}"></td>
                                            </tr>
                                        <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <!-- 首页 -->
                                            <li th:if="${current == 1}">
                                                <a href="#">首页</a>
                                            </li>
                                            <li th:if="${current > 1}">
                                                <a th:href="@{/admin.teacherlog(page=1,type=${type},lookname=${lookname})}">首页</a>
                                            </li>

                                            <!-- 上一页 -->
                                            <li th:if="${current == 1}">
                                                <a href="#">«</a>
                                            </li>
                                            <li th:if="${current > 1}">
                                                <a th:href="@{/admin.teacherlog(page=${current - 1},type=${type},lookname=${lookname})}">«</a>
                                            </li>

                                            <!-- 最大按钮数6,浮动按钮数3 -->
                                            <th:block th:if="${total>0 && total<= 4}" th:each="i : ${#numbers.sequence(1,total)}">
                                                <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>
                                                <li th:if="${current != i}"><a th:href="@{/admin.teacherlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>
                                            </th:block>

                                            <th:block th:if="${total > 4}">
                                                <th:block th:if="${(current - (2/2)) < 3}" th:each="i : ${#numbers.sequence(1,2 + 2 )}">
                                                    <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>
                                                    <li th:if="${current != i}"><a th:href="@{/admin.teacherlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>
                                                </th:block>
                                                <!-- ... -->
                                                <li th:if="${(current - (2/2)) >= 3}"><a>...</a></li>

                                                <th:block th:if="${((current - (2/2))>=3) && (current <= (total - 3))}"
                                                          th:each="i : ${#numbers.sequence(current - 1,current+2)}">
                                                    <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>
                                                    <li th:if="${current != i}"><a th:href="@{/admin.teacherlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>
                                                </th:block>

                                                <!-- ... -->
                                                <li th:if="${current <= (total - 3)}"><a>...</a></li>
                                                <th:block th:if="${current > (total - 3)}" th:each="i : ${#numbers.sequence(total - 3,total)}">
                                                    <li th:if="${current == i}" class="am-active"><span th:text="${i}"></span></li>
                                                    <li th:if="${current != i}"><a th:href="@{/admin.teacherlog(page=${i},type=${type},lookname=${lookname})}" th:text="${i}"></a></li>
                                                </th:block>
                                            </th:block>

                                            <!-- 下一页 -->
                                            <li th:if="${current >= total}"><a href="#">»</a> </li>
                                            <li th:if="${current < total}"><a th:href="@{/admin.teacherlog(page=${current+1},type=${type},lookname=${lookname})}">»</a></li>

                                            <!-- 最后一页 -->
                                            <li th:if="${total>1 && current == total}"><a href="#">末页</a></li>
                                            <li th:if="${total>1 && current != total}"><a th:href="@{/admin.teacherlog(page=${total},type=${type},lookname=${lookname})}">末页</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>
    <script type="text/javascript" src="assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="assets/js/amazeui.datatables.min.js"></script>
    <script type="text/javascript" src="assets/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript">
        $("#lookfor").click(function(){
            var optionname = $("#findby").val();
            var likeask = $("#lookname").val();
            if (optionname == "option2"){
                window.location.href = "/admin.teacherlog?type=likename&lookname="+likeask;
            }else if (optionname == "option3"){
                window.location.href = "/admin.teacherlog?type=likeip&lookname="+likeask;
            }else if (optionname == "option1"){
                window.location.href = "/admin.teacherlog?type=likeall&lookname="+likeask;
            }
        })


    </script>
</body>

</html>