<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>兄弟会管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script th:src="@{/webjars/jquery-form/3.51/jquery.form.js} "></script>
    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}">
    <style>
        #box a {
            text-decoration: none;
        }
    </style>
</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g" id="box">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="http://www.itxdl.cn/xdh/" target="_blank">
                <img src="/assets/img/logo.png" alt="" style="width:100%;height: 87%;margin: 0;">
            </a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                <span></span>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="#">欢迎你 &nbsp;
                            <span th:each="cookie :${#httpServletRequest.getCookies()}"
                                  th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                                </span>
                        </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/loginout">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    <span th:each="cookie :${#httpServletRequest.getCookies()}"
                          th:if="${cookie.getName().equals('name')}" th:text="${cookie.getValue()}">
                    </span>
                </span>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-link">
                <a href="/teacher.index">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/teacher/Log/1">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 日志管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/noticeManage">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 公告管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 学生管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a th:href="@{/student/Undergraduate/1}">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 学生信息
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a th:href="@{/student/add/view}" class="sub-active">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增学生
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/teacher/exeperiences?pageNum=1">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 学生心得
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/teacher/works?pageNum=1">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 学生作品
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 新增学员
                    </div>
                    <p class="page-header-description">请填写必要的信息</p>
                </div>
            </div>
        </div>

        <div class="row-content am-cf">
            <div class="row">

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">添加表单</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br" autocomplete="off">

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">姓名 <span class="tpl-form-line-small-title">name</span></label>
                                    <div class="am-u-sm-9">
                                        <input id="username" type="text" placeholder="请输入学员姓名" name="username">
                                        <small>此为必填项</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">班级 <span class="tpl-form-line-small-title">class</span></label>
                                    <div class="am-u-sm-9">
                                        <select id="classId" name="class_id" data-am-selected style="display: none;">
                                            <option th:value="-1" th:text="点击选择..." selected></option>
                                            <option th:each="classList:${classList}" th:value="${classList.id}"
                                                    th:text="${classList.class_name}">男
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">性别 <span class="tpl-form-line-small-title">sex</span></label>
                                    <div class="am-u-sm-9">
                                        <select id="sex" name="sex" data-am-selected style="display: none;">
                                            <option value="1" selected>男</option>
                                            <option value="0">女</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">电话号码 <span class="tpl-form-line-small-title">phone</span></label>
                                    <div class="am-u-sm-9">
                                        <input id="mobile" type="text" placeholder="请填写学员电话号码" name="mobile">
                                        <small>此为必填项</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success"
                                                id="submit">提交
                                        </button>
                                        <button id="SubmitExcelFile" type="button"
                                                class="am-btn am-btn-primary tpl-btn-bg-color-success">
                                            <i class="am-icon-cloud-upload"></i>批量导入
                                        </button>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">批量添加模板 <span class="tpl-form-line-small-title">model</span></label>
                                    <div class="am-u-sm-9">
                                        <img src="" th:src="@{/assets/img/model.png}" alt="">
                                    </div>
                                    <div class="am-u-sm-9">
                                        <small>添加前请选择班级</small>
                                    </div>

                                </div>
                            </form>

                            <!--                            文件上传-->

                            <form method="post" style="display: none" th:attr="url=@{/student/add/batch/}"
                                  enctype="multipart/form-data" id="ExcelForm">
                                <input id="filepath" name="ExcelFile" type="file" size="30" value=""
                                       style="font-size:14px"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>

<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $("#submit").click(function () {
        var name = $("#username").val().trim();
        var sex = $("#sex").val();
        var mobile = $("#mobile").val().trim();
        var class_id = $("#classId").val();
        if (class_id == -1) {
            alert("添加失败,请选择班级")
        } else if (name == "" || mobile == "") {
            alert("添加失败,姓名或手机号不能为空");
        } else {
            $.post("/student/add",
                {
                    class_id: class_id,
                    username: name,
                    sex: sex,
                    mobile: mobile
                },
                function (data) {
                    alert(data.msg);
                });
        }
        $("#username").val("");
        $("#mobile").val("");
    });
</script>
<script>

    $("#SubmitExcelFile").click(function () {
        var class_id = $("#classId").val();
        if (class_id == -1) {
            alert("添加失败,请选择班级")
        } else {
            $("#filepath").trigger("click");
        }
    })
</script>
<script>
    $("#filepath").change(function () {
        var class_id = $("#classId").val();
        var fileName = $("#filepath").val();
        var suffixName = fileName.substr(fileName.indexOf("."));
        var option = {
            url: $("#ExcelForm").attr("url") + suffixName,
            type: 'POST',
            dataType: "json",
            clearForm: true,
            data: {
                class_id: class_id
            },
            success: function (data) {
                alert(data.msg);
            }
        };
        if (fileName == "") {
            alert("请上传Excel文件");
        } else if (suffixName == ".xls" || suffixName == ".xlsx") {
            $("#ExcelForm").ajaxSubmit(option);
        } else {
            alert("请上传Excel文件");
        }
    });
</script>

</body>

</html>