<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdh.dao.ClassDao">

	<!-->根据所有班级数量<-->
	<select id="selectAllNumber" resultType="Integer">
		select count(*) from xdh_class
	</select>

	<select id="selectClassById" resultType="cn.xdh.entity.XdhClass">
		select * from xdh_class where id = #{id}
	</select>

</mapper>