<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdh.dao.StudentNumberDao">
	
	<select id="selectTotalNumber" resultType="Integer">
		select count(*) from xdh_student
	</select>
	<select id="selectGraduNumber" resultType="Integer">
		select count(*) from xdh_student where is_graduate = 1
	</select>
	<select id="selectNotGraduNumber" resultType="Integer">
		select count(*) from xdh_student where is_graduate = 0
	</select>

	<select id="selectStageOne" resultType="Integer">
		select count(*) from xdh_student where stage_id = 1
	</select>
	<select id="selectStageTwo" resultType="Integer">
		select count(*) from xdh_student where stage_id = 2
	</select>
	<select id="selectStageThree" resultType="Integer">
		select count(*) from xdh_student where stage_id = 3
	</select>
	<select id="selectStageFour" resultType="Integer">
		select count(*) from xdh_student where stage_id = 4
	</select>
	<select id="selectStageFive" resultType="Integer">
		select count(*) from xdh_student where stage_id = 5
	</select>
	


</mapper>