<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdh.dao.StudentDao">
	
	<select id="selectByPhoneAndPassword" resultType="cn.xdh.entity.Student">
		select * from student where phone = #{phone} and password = #{password}
	</select>
	

	<!-- 查询数据库中公告信息-->
	<select id="getNotices" resultType="cn.xdh.entity.Notice">
		select * from xdh_notice ORDER BY add_time DESC
	</select>



	<!-- 查询数据库中学生信息-->
	<select id="getDatas" resultType="cn.xdh.entity.Student">
		SELECT * FROM xdh_student WHERE id = #{id}
	</select>
</mapper>